In [1]:
# Import the packages

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Import the movies data set
movies = pd.read_excel('movies.xlsx')
ott = pd.read_csv('ott.csv')

In [4]:
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [6]:
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [7]:
# Check the data types

In [8]:
movies.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [9]:
ott.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [10]:
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [11]:
print(ott.dtypes)

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [12]:
# Find out the column names

In [13]:
print(list(movies.columns))
print(list(ott.columns))

['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors', 'Genres', 'Country', 'Language', 'Runtime']
['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

In [14]:
list(movies.columns)

['Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Directors',
 'Genres',
 'Country',
 'Language',
 'Runtime']

# Filter the DataFrame for only numeric variables

In [15]:
movies_num = movies.select_dtypes('number')
movies_num = movies_num.drop('Year', axis = 1)

# Calculate the IQR

In [16]:
# Calculate Q1 and Q3
Q1 = movies_num.quantile(0.25)
Q3 = movies_num.quantile(0.75)

print(Q1)
print(Q3)

IMDb                5.10
Rotten Tomatoes     0.44
Runtime            82.00
Name: 0.25, dtype: float64
IMDb                 6.90
Rotten Tomatoes      0.88
Runtime            104.00
Name: 0.75, dtype: float64

In [17]:
# Calculate the IQR
IQR = Q3 - Q1

print(IQR)

IMDb                1.80
Rotten Tomatoes     0.44
Runtime            22.00
dtype: float64

In [18]:
IQR

IMDb                1.80
Rotten Tomatoes     0.44
Runtime            22.00
dtype: float64

# Range of data set

In [20]:
movies_num.describe()

               IMDb  Rotten Tomatoes       Runtime
count  16173.000000      5158.000000  16152.000000
mean       5.902751         0.654285     93.413447
std        1.347867         0.266145     28.219222
min        0.000000         0.020000      1.000000
25%        5.100000         0.440000     82.000000
50%        6.100000         0.710000     92.000000
75%        6.900000         0.880000    104.000000
max        9.300000         1.000000   1256.000000